<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>slack-channel-message</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4F7A5C01-5E62-4D96-BA3B-2DBF59BD5DD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77DF40E8-ED64-41DD-BD2C-AAAC3551EDE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>59C2A63F-F9D7-4E75-B907-2300527CE3E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97ABDEA0-8DA0-4C2B-9830-3F11B2DA951E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Get your Slack token</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F7A5C01-5E62-4D96-BA3B-2DBF59BD5DD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>76C1698E-F20B-451E-B3F2-01E6840C3564</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0F78E63-5925-4F93-BD54-2E859429B1D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>awinecki</string>
	<key>description</key>
	<string>Sends message to a Slack channel</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slacksend</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://api.slack.com/web</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>97ABDEA0-8DA0-4C2B-9830-3F11B2DA951E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>slack_token</string>
				<key>subtext</key>
				<string>Hold cmd to get your API key</string>
				<key>text</key>
				<string>Set your Slack API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59C2A63F-F9D7-4E75-B907-2300527CE3E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>API key saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>77DF40E8-ED64-41DD-BD2C-AAAC3551EDE6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python slackfred.py --setkey "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F7A5C01-5E62-4D96-BA3B-2DBF59BD5DD5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python slack-message.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0F78E63-5925-4F93-BD54-2E859429B1D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>me</string>
				<key>subtext</key>
				<string>Send message to #working-on</string>
				<key>text</key>
				<string>Update your team</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>76C1698E-F20B-451E-B3F2-01E6840C3564</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4F7A5C01-5E62-4D96-BA3B-2DBF59BD5DD5</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>59C2A63F-F9D7-4E75-B907-2300527CE3E4</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>76C1698E-F20B-451E-B3F2-01E6840C3564</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>77DF40E8-ED64-41DD-BD2C-AAAC3551EDE6</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>97ABDEA0-8DA0-4C2B-9830-3F11B2DA951E</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>D0F78E63-5925-4F93-BD54-2E859429B1D1</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>awinecki.com</string>
</dict>
</plist>
